.msg
{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.msg__user
{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.msg__usercard
{
    background-color: #21094E!important;
    border-radius: 45px !important;
    max-width: 500px !important;
    word-wrap: break-word;
    border: 2px solid #FFE3FE !important;
    padding: 5px !important;
  /* width: 200px !important;
  height: 150px !important; */
}

.msg__guestcard
{
    background-color: #e9e9eb !important;
    border-radius: 45px !important;
    max-width: 500px;
    word-wrap: break-word;
    border: 2px solid #FFE3FE !important;
    padding: 5px !important;
}